@import "../../../index.css";
.header {
  font-family: var(--font-primary);
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 16px 64px 16px 64px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.img-logo {
  width: 131px;
  height: 48px;
}
.login-btn {
  display: flex;
  gap: 16px;
}
.header Link{ 
	text-decoration: none;
	
} 